.fotoAwal{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    position: relative;
}

.fotoAwal video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
}

.opening{
    width: 60%;
    height: 60%;    
    position: relative;
    /* background-color: #fff; */
}

.play-button {
    padding: 10px 20px;
    background-color: #ff4655;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    position: absolute; 
    bottom: 10px; 
    left: 50%;
    transform: translateX(-50%);
}

.play-button:hover {
    background-color: #ffffff;
    color: #ff4655;
}

.textopening{
    font-size: 30px;
    font-weight: bold;
    margin-top: 75px;
    margin-left: 75px;
    height: 60%;
    width: 80%;
    position: absolute;
    align-content: flex-start;
    align-items: center;
}

/* deskripsi home*/
.deskripsi-home{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
}

.deskripsi-content{
    width: 90%;
    height: 75%;
    opacity: 0.9;
    border-radius: 10px;
    background-color: #111111;
}

.deskripsi-gambar{
    width: 100%;
    height: 50%;
    background-image: url(../assets/e-distric.jpg);
    background-size: cover;
    border-radius: 10px 10px 0 0;
}

.deskripsi-tulisan{
    width: 100%;
    height: 50%;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: #000000;
}

/* agents terbaik */

.judul{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.agents-terbaik 
{
    padding-inline: 2rem;
}

.news-container {
    padding-inline: 2rem;
}

.news-box {
    max-width: 1200px;
    margin: auto;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    height: 100%;
    justify-content: center;
    align-items: center;
}

.agents-box{
    max-width: 1200px;
    margin: auto;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    height: 100%;
    justify-content: center;
    align-items: center;
}

.agents-kartu{
    display: flex;
    flex-direction: column;
    height: 100%;
    background: #2E2E30;
    border-radius: 10px;
    transition: 0.8s;
    border: 3px solid #000000;
    overflow: hidden;
}

.agents-kartu:hover{
    opacity: 100%;
    border: 3px solid #ff4655;
    border-radius: 5px;
}

.agents-kartu:hover .agents-gambar{
    scale: 1.1;
}

.agents-gambar{
    height: 200px;
    width: 100%;
    border-radius: 10px 10px 0 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: .3s;
}

.agents-deskripsi{
    flex: 1;
    position: relative;
    z-index: 10;
    padding-block:.5rem;
    width: 100%;
    background-color: rgb(45, 40, 40);
    text-align: center;
    border-radius: 0 0 10px 10px;
    color: white;
}