/* Report Bugs */
.bugs-container{
    font-family: Arial, sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.bugs-box{
    width: 90%;
    max-width: 500px;
    background-color: #393a3b;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    text-align: center;
}


form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    text-align: left;
    font-weight: bold;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
}

input, select {
    background-color: #16213e;
    color: white;
}

textarea {
    background-color: #16213e;
    color: white;
    height: 80px;
}

button {
    background-color: #ff4655;
    color: black;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: 0.3s;
}

button:hover {
    background-color: #ffffff;
}

/* Styling untuk checkbox */
.checkbox-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

input[type="checkbox"] {
    width: 16px;
    height: 16px;
}